* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica;
    /* display: flex;
    justify-content: center;
    flex: 1; */
    padding: 100px 500px;
}


.navbar,
.top,
.top-links,
.bottom,
.bottom-left {
    display: flex;
}

.navbar {
    flex-direction: column;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}



.top {
    justify-content: space-between;
}

.top-links {
    flex-direction: row;
    gap: 10px;
}

.bottom-left {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

a:hover {
    color: bisque;
}
