* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    /* display: flex;
    justify-content: center;
    flex: 1; */
    /* padding: 100px 500px; */
    /* padding: 10px 250px; */
    
}


.navbar,
.top,
.top-links,
.bottom,
.bottom-left,
.bottom-right {
    display: flex;
}

/* SET THE PADDING OF THE MACRO SECTIONS USING THIS CHAIN SELECTOR */

.navbar,
.action,
.credits {
    padding: 10px 250px;
    padding-bottom: 100px;
}

.boxes,
.quote {
    padding: 10px 350px;
    padding-bottom: 100px;
}

.navbar {
    flex-direction: column;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;

}

/* .left {
    display: flex;
    flex-wrap: wrap;
} */

.top {
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
    flex: 1;
}

.top-links {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.bottom-left {
    flex-direction: column;
    flex: 1;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    width: fit-content;
}

a:hover {
    color: bisque;
}

.bottom {
    gap: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.info {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: lighter;
    margin-bottom: 10px;
}

.bottom-right {
    flex-shrink: 1;
}

img {
    /* min-width: 100%; */
    width: 250px;
    /* min-width: 50%;
    min-height: 50%; */
    max-width: 100%;
    height: auto;
}

button {
    background-color: #3882F6;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border: #3882F6;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 30px;
}

button:hover {
    color: cyan;
}

.boxes,
.heading,
.box-group,
.borders {
    display: flex;
}

.boxes {
    flex-direction: column;
    /* padding: 10px 250px; */
}


.heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.borders {
    flex-direction: column;
    flex-grow: 0;
    gap: 10px;
    align-items: center;
}

.box-group {
    gap: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-content: flex-end; */
    /* flex: 1; */
}

.box-group .subtext {
    /* width: 150px; */
    display: flex;
    text-align: center;
    width: 200px;
}

.blue-box {
    border: 5px solid #3882F6;
    padding: 70px;
    border-radius: 12px;
    /* width: 100px; */
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 350px;
    flex-direction: column;
    gap: 40px;
}

.italics {
   font-size: 36px;
   font-style: italic;
   font-weight: lighter;
   color: #1F2937;
   text-align: center;
}

.thor {
    font-size: 18px;
    font-weight: 700;
    align-self: flex-end;
}

.action {
    padding: 100px 250px;
}

.macro-container {
    display: flex;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 15px;
    justify-content: space-between;
}



.text {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bold-text {
    font-weight: 700;
    font-size: 24px;
}

.normal-text {
    font-weight: 100;
    font-size: 14px;
}

button.bottom-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    width: fit-content;
}

.credits {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px 250px;
} 

.TheOP {
    color: #E5E7EB;
    font-weight: 100;
    font-size: 18px;
}